<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>
        <%= title %> || Todo
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="blankline"></div>
    <div class="container" class="container">
        <div class="row">
            <div class="col-2">
                <p href="#" class="text-center fs-4" style="font-family: serif; font-weight: 600;"><i
                        class="fa fa-th-list text-center fs-5" style="margin-right: 12px;"></i>
                    TODO APP
                </p>
                <ul>
                    <li><a href="/"><i class="fa fa-h-square fs-5"></i>
                            Home</a>
                    </li>
                    <li><a href="/addtask/"><i class="fa fa-tasks fs-5"></i> Add
                            Task</a></li>
                    <li><a href="#"><i class="fa fa-bar-chart fs-5"></i> All
                            Activity</a></li>
                    <li><a href="#"><i class="fa fa-check fs-5"></i> Daily
                            Task</a></li>
                    <li><a href="/users/profile"><i class="fa fa-check fs-5"></i> Account</a></li>
                </ul>
                <div class="button">
                    <a class="btn btn-primary" href="/addtask/" role="button"><i class="fa fa-plus"
                            style="margin-right: 12px;"></i> Add
                        Task</a>
                </div>
            </div>
            <div class="col-6">
                <nav aria-label="breadcrumb" class="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"
                            style="font-size: 29px; font-family: sans-serif; font-weight: 600; margin-left: -10px;"
                            aria-current="page"><i class="fa fa-h-square fs-4"></i>
                            <%= title %>
                        </li>
                    </ol>
                    <div class="account">
                        <img src="/images/profile.jpg" alt="">
                    </div>
                </nav>
                <div class="banner">
                    <img src="/images/1.png" alt="">
                    <div class="text-block">
                        <h4 style="font-family: serif;">Hi, Welcome, <small>Arya swaoop</small></h4>
                        <!-- <p>Arya swaoop</p> -->
                    </div>
                </div>
                <nav aria-label="breadcrumb" class="breadcrumb" style="font-size: 1.2rem;
                font-weight: 500;
                font-family: serif;
                margin-bottom: 0px;">
                    <p>All Task</p>
                    <p>View all</p>
                </nav>

                <div class="task">
                    <ul id="ulist">
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Home</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Collage</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">School</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Office</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <nav aria-label="breadcrumb" class="breadcrumb" style="font-size: 1.2rem;
                font-weight: 500;
                font-family: serif;
                margin-bottom: 0px;
                margin-top: 21px;">
                    <p>Task Panding</p>
                    <p>View all</p>
                </nav>
                <div class="task">
                    <ul id="ulist">
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Home</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Office</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">School</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>

                <nav aria-label="breadcrumb" class="breadcrumb" style="font-size: 1.2rem;
                font-weight: 500;
                font-family: serif;
                margin-bottom: 0px;">
                    <p>Completed Task</p>
                    <p>View all</p>
                </nav>
                <div class="task">
                    <ul id="ulist">
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">School</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Collage</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">Home</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                        <li id="list">
                            <div class="details">
                                <div class="form-check form-check-inline px-4 py-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                                    <p style="line-height: 0; padding-top: 6px;">
                                        Arya Swaroop
                                    </p>
                                    <div class="body-details" style="padding-top: 0px;">
                                        <small><i class="fa fa-sun-o fs-6"
                                                style="padding-right: 2px;"></i>Monday</small>
                                        <small><i class="fa fa-calendar fs-6" style="padding-right: 2px;"></i>
                                            25-03-2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <a href="#">
                                    <span class="badge bg-secondary">School</span>
                                    <a role="button" aria-disabled="true"><i class="fa fa-trash"></i></a>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>